.link.active {
  font-weight: bold;
  text-decoration: underline;
}

.wrapper {
  padding: 2rem;
}

h1 {
  text-align: center;
}

.navbar {
  padding: 1rem;
  background-color: #f8f9fa;
  margin-bottom: 30px;
}

.link {
  margin-right: 10px;
  text-decoration: none;
  color: #383c3a;
}
